*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-sizing: border-box;
    }
    
    .nav-bar{
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* / border: 1px solid black; / */
    background-color: white;
    box-shadow: 10px 10px 10px whitesmoke;
    }
    
    .nav-bar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100px;
    }
    
    .nav-bar .logo img{
    width: 100%;
    }
    
    .nav-bar .logo p{
    font-size: 25px;
    font-weight: 900;
    color: #6339B0;
    cursor: pointer;
    }
    
    .nav-bar .nav-items a{
    text-decoration: none;
    margin: 0 8px;
    }
    
    .nav-bar .nav-items a:hover{
    color: #6339B0;
    }*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-sizing: border-box;
    }
    
   
    .container{
    height: 100vh;
    margin-bottom: 15%;
    }
    
    .image-1{
    text-align: center;
    }
    
    .image-1 img{
    height: 40%;
    width: 40%;
    margin-top: 6%;
     border: 1px solid black; 
    }
    
    .contains{

    text-align: center;
    }
    
    .btn{
    margin-bottom: 3%;
    padding: 8px 60px;
    font-size: 20px;
    border: 1px solid #6339B0;
    border-radius: 30px;
    color: #6339B0;
    background-color: white;
    }
    
    .btn:hover{
    color: white;
    background-color: #6339B0;
    transition: all 0.25s ease-in-out;
    }
    
    .contains p{
    margin: 0px 50px; 
    font-size: 18px;
    }
    
    table {
        width: 50%;
        border-collapse: collapse;
        margin: 100px auto;
        
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }